name: Build and push Docker Image
on:
  push:
    branches:
      - "master"
jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
    - name: print contents
      run: ls . -a
    - uses: "finnp/create-file-action@master"
      env:
        FILE_NAME: './src/main/resources/application.properties'
    - name: Write value to Properties-file
      uses: christian-draeger/write-properties@1.1.0
      with:
        path: './src/main/resources/application.properties'
        property: |
          'spring.data.mongodb.authentication-database'
          'spring.data.mongodb.username'
          'spring.data.mongodb.password'
          'spring.data.mongodb.database'
          'spring.data.mongodb.port'
          'spring.data.mongodb.host'
          'server.port'
          'spring.application.name'
          'server.servlet.context-path'
          'grthomelab.app.jwtExpirationMs'
          'grthomelab.app.jwtSecret'
        value: |
          'admin'
          {{ secrets.MONGO_DB_USER }}
          {{ secrets.MONGO_DB_PW }}
          'randomAcro'
          '27017'
          {{ secrets.MONGO_DB_HOST }}
          '8102'
          'Backend'
          '/api'
          '86400000'
          {{ secrets.JWT_SECRET }}
    -
      name: Build and export to Docker
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: registry.grthomelab.com/grthomelab-backend:latest